area.dtd

<!ELEMENT area (section+)>
<!ELEMENT section ((subsection+) | (content+))>
<!ELEMENT subsection (content+)>
<!ELEMENT content (#PCDATA)>

<!ATTLIST area name CDATA #REQUIRED>
<!ATTLIST section title CDATA #REQUIRED>
<!ATTLIST subsection title CDATA #REQUIRED>
<!ATTLIST content type ( strong | image-link | external-link | comparison-link | audio-link ) #IMPLIED
                  description CDATA #IMPLIED
                  href CDATA #IMPLIED>